---
name: build-debug-image

on:
  workflow_call:
    inputs:
      tag:
        required: false
        type: string
        default: "${{ github.sha }}"

env:
  TAG: ${{ inputs.tag || github.sha }}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}

    - name: Build and push log-courier debug image
      uses: docker/build-push-action@v6
      with:
        file: images/svc-base/Dockerfile
        context: .
        target: runtime-debug
        provenance: false
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/log-courier:${{ env.TAG }}-debug
        cache-from: type=gha,scope=log-courier-debug
        cache-to: type=gha,mode=max,scope=log-courier-debug
