---
name: tests

on:
  push:

jobs:
  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Run GolangCI linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.6

      - name: Run unit tests
        run: make test-coverage

      - name: Extract coverage report
        run: make coverage-report

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: log-courier
          path: ./bin/log-courier
