---
name: tests

on:
  push:

jobs:
  build-test:
    name: Build and test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Start ClickHouse
        run: docker compose up -d

      - name: Wait for ClickHouse to be ready
        run: |
          timeout 30 bash -c 'until docker compose exec -T clickhouse clickhouse-client --query "SELECT 1" > /dev/null 2>&1; do sleep 1; done'

      - name: Run GolangCI linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.6

      - name: Run unit tests
        run: make test-coverage

      - name: Extract coverage report
        run: make coverage-report

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: log-courier
          path: ./bin/log-courier

      - name: Stop ClickHouse
        if: always()
        run: |
          docker compose logs
          docker compose down
